#clock {
    text-align: center;
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw;
    border-radius: 50%;
    border: 5px solid #ffa;
    background-color: black;
}

#center {
    position: absolute;
    background-color: white;
    border: 1px solid white;
    border-radius: 50%;
    height: 2vw;
    width: 2vw;
    top: 19vw;
    left: 19vw;
    z-index: 4;
}

#one, #two, #three, #four, #five, #six, #seven, #eight, #nine, #ten, #eleven, #twelve {
    position: absolute;
    font-style: arial;
    font-size: 3vw;
    color: white;
}

#one {
    top: 3vw;
    left: 29vw;
}

#two {
    top: 10vw;
    left: 35vw;
}

#three {
    top: 18.5vw;
    left: 38vw;
}

#four {
    top: 27vw;
    left: 35vw;
}

#five {
    top: 34vw;
    left: 29vw;
}

#six {
    top: 36.5vw;
    left: 19.5vw;
}

#seven {
    top: 34vw;
    left: 9vw;
}

#eight {
    top: 27vw;
    left: 3vw;
}

#nine {
    top: 18.5vw;
    left: 0.5vw;
}

#ten {
    top: 10vw;
    left: 2vw;
}

#eleven {
    top: 3vw;
    left: 9vw;
}

#twelve {
    top: 0.5vw;
    left: 18.5vw;
}

#sec, #min, #hour {
    position: absolute;
    transform-origin: bottom;
    transition: 0.5s ease-in-out;
}

#sec {
    background-color: blue;
    height: 16vw;
    width: 0.25vw;
    top: 4vw;
    left: 19.875vw;
    z-index: 3;
}

#min {
    background-color: red;
    height: 18vw;
    width: 0.35vw;
    top: 2vw;
    left: 19.83vw;
    z-index: 2;
}

#hour {
    background-color: white;
    height: 14vw;
    width: 0.5vw;
    top: 6vw;
    left: 19.75vw;
    z-index: 1;
}